doctype html
html(lang="en")
    head
        title Page title
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(name="description" content="")
        meta(name="author" content="")
        link(rel="stylesheet" href="css/tailwind/tailwind-theme.css")
        link(rel="icon" href="favicon.ico")
        link(rel="icon" type="image/png" sizes="16x16" href="favicon.png")
        script(src="js/main.js")
    body.bg-body.text-body.font-body
        .container.mx-auto.px-4


            nav(class="flex flex-wrap items-center justify-between p-4")
                div(class="flex flex-shrink-0 mr-6")
                    a(href="#" class="text-xl text-indigo-500 font-semibold" ) Dunder Mifflin
                div(class="block lg:hidden")
                    <button class="navbar-burger flex items-center py-2 px-3 text-indigo-500 rounded border border-indigo-500"><svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg></button>
                div(class="navbar-menu hidden lg:flex lg:flex-grow lg:items-center w-full lg:w-auto")
                    div(class="lg:ml-auto")
                        a(href="#" class="block lg:inline-block mt-4 lg:mt-0 mr-10 text-blue-900 hover:text-blue-700" ) Products
                        a(href="#" class="block lg:inline-block mt-4 lg:mt-0 mr-10 text-blue-900 hover:text-blue-700" ) Team
                        a(href="#" class="block lg:inline-block mt-4 lg:mt-0 mr-10 text-blue-900 hover:text-blue-700" ) Customers
                    div
                        a(href="#" class="inline-block py-3 px-5 mr-4 leading-none text-center text-blue-700 bg-indigo-100 hover:bg-indigo-200 rounded shadow" ) Sign in
                        a(href="#" class="inline-block py-3 px-6 mt-4 lg:mt-0 leading-none text-white bg-indigo-500 hover:bg-indigo-600 rounded shadow" ) Sign up

            section(class="py-12 px-4")
                div(class="flex flex-wrap -mx-4")
                    div(class="w-full lg:w-1/2 px-4 mb-8 lg:mb-0")
                        div(class="flex flex-col h-full p-8 bg-gray-200 rounded")
                            h2(class="text-3xl font-heading") The Lagos School
                            p(class="max-w-sm mt-auto mb-8 text-gray-500 leading-relaxed") Fund the next year of teaching kids the basics of adult life. Thanks
                            a(href="#" class="text-right text-blue-700 hover:underline") Donate

                    div(class="lg:w-1/2 px-4") 
                        div(class="flex flex-wrap -m-2") 
                            div(class="w-1/2 p-2")
                                img(src="images/Frame_47.jpg" alt="" class="rounded shadow-md")
                            div(class="w-1/2 p-2")
                                img(src="placeholders/pictures/work.jpg" alt="" class="rounded shadow-md" )
                            div(class="w-1/2 p-2")
                                img(src="images/Frame_43.jpg" alt="" class="rounded shadow-md")
                            div(class="w-1/2 p-2")
                                img(src="placeholders/pictures/office.jpg" alt="" class="rounded shadow-md" )

            section(class="p-4")
                div(class="flex flex-wrap -mx-4")
                    div(class="md:w-1/4 p-4 mb-4 md:mb-0")
                        img(src="placeholders/icons/shield.svg" alt="" )
                        h3(class="text-xl my-2 font-heading") 33 kids financed
                        p(class="text-gray-500 leading-relaxed" ) Forget about paper jams with our increased stability product.

                    div(class="md:w-1/4 p-4 mb-4 md:mb-0")
                        img(src="placeholders/icons/cloud-tools.svg" alt="" )
                        h3(class="text-xl my-2 font-heading") 12 teachers yearly salary paid
                        p(class="text-gray-500 leading-relaxed" ) Multi-functional paper for various office needs.

                    div(class="md:w-1/4 p-4 mb-4 md:mb-0")
                        img(src="placeholders/icons/cart.svg" alt="" )
                        h3(class="text-xl my-2 font-heading") 2 repaired buildings
                        p(class="text-gray-500 leading-relaxed" ) The best combination of quality and economy comes with our paper.

                    div(class="md:w-1/4 p-4 mb-4 md:mb-0")
                        img(src="placeholders/icons/server.svg" alt="" )
                        h3(class="text-xl my-2 font-heading") 23 happy parents
                        p(class="text-gray-500 leading-relaxed" ) The offer includes paper in wide range of density and sizes.

            article(class="py-12 px-4")
                h1(class="text-4xl text-center font-heading font-semibold") About the School
                p(class="text-center")
                    span October 22, by
                    a(href="#" class="ml-1 text-blue-700 hover:underline" ) Michael Scott

                div(class="my-10")
                    img.hidden(src="placeholders/pictures/work.jpg" alt="" )

                div(class="max-w-3xl mx-auto")
                    p(class="mb-4" ) We offer a dependable and quick supply of copy paper suited to all kinds of printers. Each of our various products is designed to provide the finest performance and meet international standards.
                    p(class="mb-4" ) We’re dedicated to ensure the highest level of customer satisfaction based on long-term professional relationships. By creating the positive working environment we’re enabling our employees to significantly improve not only their productivity, but what’s more important – job satisfaction.
                    ul(class="mb-4 list-inside list-disc")
                        li High durability
                        li Value-based price
                        li Perfect performance on copy machines
                        li Long lasting whiteness
                    
                    p(class="mb-10" ) We deliver our services with passion and dedication unmatched by other so called “big players”. We create a friendly environment for our workers and that’s what makes their dedication soar to the maximum. You are getting not only the best possible product, but also our love for paper (completely free of charge).

                    blockquote(class="text-center mb-10")
                        p(class="text-lg font-semibold mb-2" ) "I would say I kind of have an unfair advantage, because I watch reality dating shows like a hawk, and I learn. I absorb information from the strategies of the winners and the losers. Actually, I probably learn more from the losers."
                        footer(class="text-gray-500" ) Michael Scott

                    p Because the real business is done on paper.
                


            section(class="py-12 px-4")
                div(class="max-w-3xl mx-auto text-center")
                    h2(class="text-3xl mb-1") So how does it work?
                    p(class="mb-8 text-gray-500") Donating to the school

                    div(class="relative" style="padding-bottom: 56.25%")
                        <iframe src="https://www.youtube-nocookie.com/embed/8Z0chJBibhY" frameborder="0" class="absolute w-full h-full" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

            footer(class="flex flex-wrap items-center justify-between p-4")
                div(class="w-full lg:w-auto lg:mr-6 mb-4 lg:mb-0 text-center" ) &copy 2019 Dunder Mifflin

                div(class="flex flex-col lg:flex-row items-center w-full lg:w-auto")
                    div(class="mx-auto lg:mx-0 lg:ml-auto")
                        a(class="inline-block mt-0 text-blue-900 hover:text-blue-700" href="#" ) Products
                        a(class="inline-block mt-0 ml-8 text-blue-900 hover:text-blue-700" href="#" ) Team
                        a(class="inline-block mt-0 ml-8 text-blue-900 hover:text-blue-700" href="#" ) Customers

                    div(class="flex justify-center mt-4 lg:mt-0 lg:ml-8")
                        img(src="placeholders/icons/message.svg" alt="" class="w-6 h-6 mr-6" )
                        img(src="placeholders/icons/share.svg" alt="" class="w-6 h-6" )