doctype html
html(lang="en")
    head
        title Page title
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(name="description" content="")
        meta(name="author" content="")
        link(rel="stylesheet" href="css/tailwind/tailwind-theme.css")
        link(rel="icon" href="favicon.ico")
        link(rel="icon" type="image/png" sizes="16x16" href="favicon.png")
        script(src="js/main.js")
    body.bg-body.text-body.font-body
        .container.mx-auto.px-4


            nav(class="flex flex-wrap items-center justify-between p-4")
                div(class="flex flex-shrink-0 mr-6")
                    a(href="#" class="text-xl text-indigo-500 font-semibold") Abundance
                div(class="block lg:hidden")
                    <button class="navbar-burger flex items-center py-2 px-3 text-indigo-500 rounded border border-indigo-500"><svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg></button>
                div(class="navbar-menu hidden lg:flex lg:flex-grow lg:items-center w-full lg:w-auto")
                    div(class="lg:ml-auto")
                        a(href="#" class="block lg:inline-block mt-4 lg:mt-0 mr-10 text-blue-900 hover:text-blue-700") How it works
                        a(href="#" class="block lg:inline-block mt-4 lg:mt-0 mr-10 text-blue-900 hover:text-blue-700") About us
                        a(href="#" class="block lg:inline-block mt-4 lg:mt-0 mr-10 text-blue-900 hover:text-blue-700") Success stories
                    div
                        a(href="#" class="inline-block py-3 px-5 mr-4 leading-none text-center text-blue-700 bg-indigo-100 hover:bg-indigo-200 rounded shadow" ) Sign in
                        a(href="#" class="inline-block py-3 px-6 mt-4 lg:mt-0 leading-none text-white bg-indigo-500 hover:bg-indigo-600 rounded shadow" ) Sign up

            section(class="py-12 px-4")
                div(class="flex flex-wrap items-center text-center lg:text-left -mx-2")
                    div(class="lg:w-1/2 px-2")
                        img(src="placeholders/pictures/mobile_login.svg" alt="")
                    
                    div(class="lg:w-1/2 px-2 lg:pl-16 mt-10 lg:mt-0")
                        span(class="text-sm font-semibold") MAKE A DIFFERENCE - PROVABLY
                        h2(class="text-5xl mt-4 mb-6 leading-tight font-heading") Donations with leverage
                    
                        form(class="w-full max-w-lg mx-auto lg:mx-0")
                            div(class="flex flex-wrap mb-6 md:mb-0")
                                div(class="w-full md:w-2/3")
                                    input(class="appearance-none block w-full py-3 px-4 mb-4 mb:md-0 leading-snug text-gray-700 bg-gray-200 focus:bg-white border border-gray-200 focus:border-gray-500 rounded md:rounded-r-none focus:outline-none" type="text" placeholder="michael@dundermifflin.com") 
                                div(class="w-full md:w-1/3")
                                    button(class="inline-block w-full py-4 px-8 leading-none text-white bg-indigo-500 hover:bg-indigo-600 rounded md:rounded-l-none" ) Subscribe

                            p(class="text-sm text-gray-500 leading-relaxed") Subscribe to our newsletter to follow community updates.

            section(class="py-8 px-4")
                div(class="flex flex-wrap -mx-4 -mb-6")
                    div(class="lg:w-1/3 px-4 mb-6")
                        img(src="placeholders/icons/shield.svg" alt="" )
                        h3(class="text-xl my-2 font-heading") 8490 people trading
                        p(class="text-gray-500 leading-relaxed" ) Forget about paper jams with our increased stability product. Ideal for high-quality printing, colour printing and photocopying.
                    
                    div(class="lg:w-1/3 px-4 mb-6")
                        img(src="placeholders/icons/cloud-tools.svg" alt="" )
                        h3(class="text-xl my-2 font-heading") $3254 donated
                        p(class="text-gray-500 leading-relaxed" ) Multi-functional paper for various office needs. Snow-white sheets will shine bright like diamond for many years.
                    
                    div(class="lg:w-1/3 px-4 mb-6")
                        img(src="placeholders/icons/cart.svg" alt="" )
                        h3(class="text-xl my-2 font-heading") $89769 verified impact
                        p(class="text-gray-500 leading-relaxed" ) The best combination of quality and economy comes with Dunder Mifflin paper. The offer includes paper in wide range of density and sizes.

            section(class="py-12 px-4")
                h2(class="text-3xl text-center mb-8 font-heading") Explore our communities
            
                div(class="flex flex-wrap -mx-4")
                    div(class="lg:w-1/3 px-4 mb-8 lg:mb-0") 
                        div(class="h-full")
                            img(src="images/Frame_45.jpg" class="mb-4" alt="")
                            small 22 Oct 2019
                            h3(class="text-2xl mt-2 mb-4 font-heading") The Kenian Sarafu
                            a(href="#" class="text-blue-700 hover:underline") See all projects »
                    
                    div(class="lg:w-1/3 px-4 mb-8 lg:mb-0")
                        div(class="h-full")
                            img(src="images/Frame_47.jpg" class="mb-4" alt="")
                            small 22 Oct 2019
                            h3(class="text-2xl mt-2 mb-4 font-heading") The Zaatari Refugee Camp
                            a(href="#" class="text-blue-700 hover:underline") See all projects »
                    
                    div(class="lg:w-1/3 px-4 mb-8 lg:mb-0")
                        div(class="h-full")
                            img(src="images/Frame_48.jpg" class="mb-4" alt="")
                            small 22 Oct 2019
                            h3(class="text-2xl mt-2 mb-4 font-heading") The Sahara Wildlife Reserve
                            a(href="#" class="text-blue-700 hover:underline") The Sahara Wildlife Reserve

            section(class="py-12 px-4")
                h2(class="text-4xl mb-2 text-center leading-tight font-heading") Donate and track the impact
                p(class="text-center mb-12 text-gray-500") Converting your donations into community currencies, enables us to boost and protect the local economy.

                div
                    div(class="flex flex-wrap items-center -mx-8")
                        div(class="md:w-1/2 px-8 mb-8")
                            img(src="placeholders/pictures/new_ideas.svg" alt="" class="w-4/5 mx-auto" )
                        div(class="md:w-1/2 px-8 mb-8")
                            span(class="text-6xl") 01
                            h3(class="text-2xl mb-3 font-heading") Donation
                            p(class="text-gray-500 leading-relaxed") You choose a project to donate to.

                    div(class="flex flex-wrap items-center -mx-8")
                        div(class="md:w-1/2 px-8 mb-8 md:order-1")
                            img(src="placeholders/pictures/certificate.svg" alt="" class="w-4/5 mx-auto" )
                        div(class="md:w-1/2 px-8 md:text-right")
                            span(class="text-6xl") 02
                            h3(class="text-2xl mb-3 font-heading") Currency Convertion
                            p(class="text-gray-500 leading-relaxed") We add the donation to the currency reserve, and issue an equivalent worth of community currency to the local project.

                    div(class="flex flex-wrap items-center -mx-8")
                        div(class="md:w-1/2 px-8 mb-8 order-none")
                            img(src="placeholders/pictures/photocopy.svg" alt="" class="w-4/5 mx-auto" )

                        div(class="md:w-1/2 px-8")
                            span(class="text-6xl") 03
                            h3(class="text-2xl mb-3 font-heading") Impact Tracking
                            p(class="text-gray-500 leading-relaxed") Check the impact of your donation in our dashboard. Stay in contact with your donees.

            footer(class="flex flex-wrap items-center justify-between p-4")
                div(class="w-full lg:w-auto lg:mr-6 mb-4 lg:mb-0 text-center") © 2020 Abundance

                div(class="flex flex-col lg:flex-row items-center w-full lg:w-auto")
                    div(class="mx-auto lg:mx-0 lg:ml-auto")
                        a(class="inline-block mt-0 text-blue-900 hover:text-blue-700" href="#") How it works
                        a(class="inline-block mt-0 ml-8 text-blue-900 hover:text-blue-700" href="#") About us
                        a(class="inline-block mt-0 ml-8 text-blue-900 hover:text-blue-700" href="#") Success stories

                    div(class="flex justify-center mt-4 lg:mt-0 lg:ml-8")
                        img(src="placeholders/icons/message.svg" alt="" class="w-6 h-6 mr-6" )
                        img(src="placeholders/icons/share.svg" alt="" class="w-6 h-6" )