doctype html
html(lang="en")
    head
        title Page title
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(name="description" content="")
        meta(name="author" content="")
        link(rel="stylesheet" href="css/tailwind/tailwind-theme.css")
        link(rel="icon" href="favicon.ico")
        link(rel="icon" type="image/png" sizes="16x16" href="favicon.png")
        script(src="js/main.js")
    body.bg-body.text-body.font-body
        .container.mx-auto.px-4


            section(class="text-center bg-cover" style="background-image: url('placeholders/pictures/work.jpg')" )
                div(class="relative flex items-center py-32")
                    div(class="absolute bg-black opacity-50 inset-0")
                    div(class="z-10 max-w-2xl mx-auto")
                        h2(class="text-5xl mb-8 leading-tight font-heading text-white" ) No paper plane can be made without paper
                        a(href="#" class="w-auto inline-block px-8 py-4 mt-auto leading-none text-white text-center bg-indigo-500 hover:bg-indigo-600 rounded shadow" ) Sign up for free